@import "tailwindcss";

@theme  {
  --color-background: #1881eb;
  --color-primary:#00E7FF;
   --color-bottom: #0D1116;
   --color-border: #374151;
   --color-light-grey:#838892;
   --color-error: #ff5555;
   --color-success: #32cd32;

   /* --color-accent: #00ffb2;
  --color-code: #121212; */
  --font-mplus:var(--font-mplus);
  --font-vt323:var(--font-vt323);
  --font-princess:var(--font-princess);
  --font-textme:var(--font-textme);
  --font-libre: var(--font-libre);
  --font-montaga:var(--font-montaga);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B0E11;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
